/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'MyFont';
    src: url('./Montserrat-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

html {
    font-family: 'MyFont';
}

body {
    height: 100vh;
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#formHolder {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#searchCity {
    background-color: rgba(0, 0, 255, 0);
    width: 100%;
    display: flex;
    gap: 2vh;
}

#location {
    appearance: none;
    border: 2px solid white ;
    border-radius: 1vh;
    height: 1vh;
    padding: 1vh;
    background-color: rgba(0, 0, 255, 0);
    color: white;
    font-size: 1.2vh;
    width: 60%;
}

#location:focus-visible {
    outline: 2px white solid;
}

#searchButton {
    appearance: none;
    height: calc(3vh + 2px);
    color: white;
    background-color: rgb(0, 110, 255);
    border: 0px;
    border-radius: 1vh;
    width: 20%;
}

#searchButton:hover {
    background-color: rgb(57, 143, 255);
}

#dropDownHolder {
    width: 100%;
    position: relative;
}

#holder1 {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding-left: 7vh;
    padding-top: 7vh;
}

#holder2{
    grid-area: 1 / 5 / 3 / 6;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    padding-right: 7vh;
    padding-top: 7vh;
}

#currentData1, #currentData2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2vh;
    color: white;
    border-radius: 1vh;
    height: 400px;

}

#forecastHolder {
    grid-area: 3 / 2 / 5 / 5;
    justify-content: center;
    display: flex;
}

#forecast {
    width: 40vw;
    height: 40vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.5fr ;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
}

.invisible {
    display: none;
}

#city div {
    font-size: 6vh;
    width: 100%;
}

#date span, #country span, #hour span, .label {
    font-size: 1.5vh;
}

#currentWeather span, #currentTemperature div span, .value, .value {
    font-size: 2vh;
}

#currentTemperature, #hour {
    margin-top: 1vh;
}

#currentSituation {
    display: flex;
}

#temperatureFelt, #humidity, #rainChance, #windSpeed {
    display: flex;
    width: 250px;
    height: 65px;
    gap: 2vh;
}

#currentSituation img, #temperatureFelt img, #humidity img, #rainChance img, #windSpeed img {
    height: 65%;
    margin-top: auto;
    margin-bottom: auto;
}

.value {
    display: block;
    margin-top: 1vh;
}

.sunny {
    background-image: url(Background/sun.jpg)
}

.clear {
    background-image: url(Background/clearnight.jpg)
}

.fog {
    background-image: url(Background/fog.jpg)
}

.rain {
    background-image: url(Background/rain.jpg)
}

.snow {
    background-image: url(Background/snow.jpg)
}

.cloudy {
    background-image: url(Background/cloudy.jpg)
}

img {
    filter: invert();
}

#drop-down {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: calc(60% + 2vh);
    max-height: 500px;
    overflow: auto;
    top: calc(7px);
    border-radius: 1vh;
} 

.suggestion {
    width: calc(100% - 1vh);
    padding: 1vh;
    padding-right: 0;
    border-bottom: 1px solid rgb(128, 128, 128);
    display: flex;
    align-items: center;
}

.suggestion:hover, .lastSuggestion:hover {
    background-color: rgb(0, 110, 255);
    color: white;
}

.lastSuggestion {
    width: calc(100% - 1vh);
    padding: 1vh;
    padding-right: 0;
    display: flex;
    align-items: center;
}

.locationValue {
    pointer-events: none
}

.grid-item {
    color: white;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}